body {
    background-color: #ebfbff;
    font-family: Helvetica;
    margin: 0px;
}

.title {
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: #34a1eb;
    color: white;
}

.button {
    background-color: #34a1eb;
    border: none;
    color: white;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: auto;
    height: auto;
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #34a1eb;
    color: white;
    text-align: center;
}