form fieldset {
    margin: 20px auto 10px auto;
    width: 40%;
    border: solid black 1px;
    padding: 3%;
}

form legend {
    padding: 6px;
    margin: 10px;
    border: solid black 1px;
    font-size: 90%;
    font-weight: bold;
}

form label {
    font-size: 16px;
}

form input {
    width: auto;
    border: solid #34a1eb 1px;
    font-size: 16px;
    margin-bottom: 10px;
}

form input.button1 {
    margin: 5px 0 10px 0;
    height: 2em;
    width: 100%;
    background-color: #34a1eb;
    color: white;
    text-align: center;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.boxHis {
    margin-left: 50px;
}